In [4]:
import numpy as np                      
import pandas as pd            
import seaborn as sns          
import matplotlib.pyplot as plt
%matplotlib inline
from warnings import filterwarnings     
filterwarnings("ignore")

In [5]:
df = pd.read_csv("dataset_group.csv",parse_dates = ['Date'])

In [6]:
df.head()

        Date  Order_id        Product
0 2018-01-01         1         yogurt
1 2018-01-01         1           pork
2 2018-01-01         1  sandwich bags
3 2018-01-01         1     lunch meat
4 2018-01-01         1   all- purpose

In [7]:
df.shape

(20641, 3)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  datetime64[ns]
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 483.9+ KB

In [9]:
df['Order_id'] = df['Order_id'].astype(object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  datetime64[ns]
 1   Order_id  20641 non-null  object
 2   Product   20641 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 483.9+ KB

In [11]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [12]:
df.describe(include="all").T

            count  unique                  top  freq      first       last
Date        20641     603  2019-08-02 00:00:00   183 2018-01-01 2020-12-02
Order_id  20641.0  1139.0                226.0  34.0        NaT        NaT
Product     20641      37              poultry   640        NaT        NaT